<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title | default(pageTitle) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/styles.css" />
    <script src="/public/js/script.js"></script>
    {% block head %}{% endblock %}
  </head>

  <body>

    
    <h1>PxlPro Jobs</h1>

    <img src="/public/images/logo.png" alt="Pxl Pro Jobs Logo" width="200">
                 
    <div>
        <a href="#">Sign in</a>
        <a href="#" class="u-hide-x-small">Create account</a>
    </div>

    {% include 'includes/navigation.njk' %}
      
    {% block main %}
    <main role="main" class="main" id="main">
        {% block content %}{% endblock %}
    </main>
    {% endblock %}
      
  </body>

</html>